.navbar {
  display: flex;
  justify-content: space-between; /* Soldaki ve sağdaki alanları eşit dağıt */
  align-items: center; /* Dikey ortalamak için */
  height: 100px; /* İsteğe bağlı: Yüksekliği ayarlamak için */
  padding: 0 60px;
  background-color: white !important;
  color: black; /* Yazı rengini siyah yapar */
}

.navbar-nav {
  flex-direction: row; /* Nav elemanlarını yatay dizilime al */
}

.icons {
  display: flex; /* İkonları yan yana dizmek için */
  align-items: center; /* Dikey olarak ortalamak için */
}

.nav-link {
  margin-left: 15px; /* İkonlar arasında boşluk oluşturmak için */
  font-size: 20px; /* İkon boyutunu ayarlamak için */
  color: #000; /* İkon rengi */
}

.logo-img {
  height: 450px; /* Logonun yüksekliğini isteğe göre ayarlayabilirsin */
  width: auto;
}

/* Mobil görünüm için ayarlar */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Dikey yerleşim için */
    padding: 0 20px; /* Yan boşlukları daralt */
    height: auto; /* Yüksekliği otomatik ayarla */
  }

  .navbar-nav {
    flex-direction: column; /* Mobil görünümde nav elemanlarını dikey dizilime al */
    width: 100%; /* Tam genişlik */
    padding: 0; /* İç boşlukları sıfırla */
  }

  .search-container {
    width: 100%; /* Arama alanını tam genişlik yap */
    margin-bottom: 10px; /* Arama alanı ile logonun arasında boşluk oluştur */
  }

  .search-input {
    width: calc(
      100% - 30px
    ); /* Arama girişi tam genişlik, arama ikonunun boyutunu çıkar */
    border: none; /* Kenarlığı kaldır */
    padding: 10px; /* İç boşluk */
    border-radius: 5px; /* Kenarları yuvarla */
    box-shadow: none; /* Gölgeyi kaldır */
  }

  .search-icon {
    position: absolute; /* Arama ikonunu arama girişinin üzerine yerleştir */
    margin-left: 10px; /* İkon ile sol kenar arasında boşluk */
    margin-top: 10px; /* İkon ile üst kenar arasında boşluk */
  }
}
